<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio1</h1> - 
                <h3>Junio. 2021 - Actualmente</h3>
            </li>
            <p>
                Analista y Desarolladora
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio2</h1> - 
                <h3>Marzo. 2019 - Actualmente</h3>
            </li>
            <p>
                Programación Frontend
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio3</h1> - 
                <h3>Agosto. 2017 - Junio. 2021</h3>
            </li>
            <p>
                Diseño gráfico
            </p>
        </ul>
    </div>
</div>