<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li>
                <h1>Atministración Tributaria Mendoza</h1> - 
                <h3>Junio. 2021 - Actualmente</h3>
            </li>
            <p>
                <img src="../../../assets/IconoATMcopia.jpg" class="tamaniologo">
                Analista y Desarolladora
            </p>
        </ul>
        <ul>
            <li>
                <h1>FreeLancer</h1> - 
                <h3>Marzo. 2019 - Actualmente</h3>
            </li>
            <p>
                <img src="../../../assets/free-01.png" class="tamaniologo">
                Programación Frontend
            </p>
        </ul>
        <ul>
            <li>
                <h1>IMPRO Diseña</h1> - 
                <h3>Agosto. 2017 - Junio. 2021</h3>
            </li>
            <p>
                <img src="../../../assets/impro.png" class="tamaniologo">
                Diseño gráfico
            </p>
        </ul>
    </div>
</div>