<div style="background-color: #61afe7;">
    <div class="row col-12">
        <div class="col-2">
            <img src="../../../assets/IconoATMcopia.jpg" class="tamaniologo">
            <img src="../../../assets/free-01.png" class="tamaniologo">
            <img src="../../../assets/impro.png" class="tamaniologo">


        </div>
        <div class="col-10">
            <h3>Atministración Tributaria Mendoza</h3>
            <h4>Analista y Desarolladora</h4>
            <h5>Diseño de sitios web</h5>
            <h5>Diseño de sitios web</h5>
            <h5>Diseño de sitios web</h5>
            <h6>Junio. 2021 - Actualmente</h6>
            <h3>FreeLancer</h3>
            <h4>Desarrollo web</h4>
            <h5>Data Entry</h5>
            <h5>Diseño de sitios web</h5>
            <h5>Programción Frontend</h5>
            <h6>Marzo. 2019 - Actualmente</h6>
            <h3>IMPRO Diseña</h3>
            <h4>Diseñadora</h4>
            <h5>Diseño gráfico</h5>
            <h5>Estampado a través de sublimación</h5>
            <h5>Atención al público</h5>
            <h6>Agosto. 2017 - Junio. 2021</h6>
        </div>
    </div>
</div>




