<!--<form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
      <input type="email"  formControlName="email" class="form-control" id="email" [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email.touched}"
      >
    <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email.hasError('required')" class="text-danger">
            El email es requerido
        </p>
    </div>
  <input type="password"  formControlName="password" class="form-control" id="password">
  <div *ngIf="Password?.errors && Password?.touched">
    <p *ngIf="Password?.hasError('required')" class="text-danger">
        El Password es requerido
    </p>
    <p *ngIf="Password?.hasError?minlength" class="text-danger">
        El Password debe ser mayor a 5 caracteres
    </p>
  </div>  
  <button type="submit" class="btn btn-primary">Iniciar Sesion</button>  
</form>-->