<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../assets/html5.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#3C74A2'"
      [innerStrokeColor]="'#57A8EB'"
      [animation]="true" 
      [animationDuration]="1000"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [imageSrc]="'../assets/java.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/javascript.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/angular.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/php.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/github.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="97"
    [radius]="100"
    [imageSrc]="'../assets/css.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="89"
    [radius]="100"
    [imageSrc]="'../assets/zk.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/mysql.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/spring.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/node.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/ingles.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#3C74A2'"
    [innerStrokeColor]="'#57A8EB'"
    [animation]="true" 
    [animationDuration]="1000"
    ></circle-progress>
  </div>
</div>
