<div class="redessociales">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <img src="../../../assets/instagram-01.png" class="nav-link active" aria-current="page" href="#">
        </li>
        <li class="nav-item">
            <img src="../../../assets/face-01.png" class="nav-link active" aria-current="page" href="#">
        </li>
        <li class="nav-item">
            <img src="../../../assets/linkedin-01.png" class="nav-link active" aria-current="page" href="#">
        </li>
        <li class="nav-item">
            <img src="../../../assets/whatsapp-01.png" class="nav-link active" aria-current="page" href="#">
        </li>
    </ul>
</div>